/* src/components/common/Footer.module.css */

.footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
    border-top: 3px solid #555;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
}

.links a {
    color: #ccc;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

.links a:hover {
    color: #fff;
}